<nav class="menu menu--header">
  <a class="menu__item" href="">Услуги</a>
  <a class="menu__item" href="">Этапы лечения</a>
  <a class="menu__item" href="">О нас</a>
  <a class="menu__item" href="">Отзывы</a>
  <a class="menu__item" href="">Контакты</a>

  <div class="menu__item menu__item--last">
    <div class="contacts">
      <a href="tel:89061800041" class="contacts__phone">8 (906) 180-00-41</a>
      <div class="contacts__note">Работаем 24/7</div>
    </div>
    <button class="btn jsOpenModalBtn">Заказать звонок</button>
  </div>
</nav>