@import 'inc/vars';
@import 'inc/reset';
@import 'inc/_global';
@import '../components/header/_header';
@import '../components/content/services/_services';
@import '../components/content/stages/_stages';
@import '../components/content/teaser/_teaser';
@import '../components/menu/_menu';
@import '../components/modal/_modal';

.age-notify{
	background-color: var(--bg);
	padding: 8px 10px;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: var(--second);
	@media (min-width: $tablet-min){
		font-size: 16px;
		line-height: 25px;
		padding: 15px;
	}
}
