<div class="section section--pb0">
		<h2 class="section__title">Наши услуги</h2>

		<div class="services">
			<div class="service">
				<div class="service__illustration">
					<img class="service__image" src="/images/services/1.jpg" alt="Cтандартная терапия">
				</div>
				<h3 class="service__title">Cтандартная терапия</h3>
				<div class="service__descr">Для облегчения похмельного синдрома и прерывания запоя. А также при алкогольном отравлении</div>
				<div class="service__btn">
					<span>от 2 400 ₽</span>
					<a class="service__link btn" href="">Начать лечение</a>
				</div>
			</div>
			<div class="service">
				<div class="service__illustration">
					<img class="service__image" src="/images/services/2.jpg" alt="Усиленная терапия">
				</div>
				<h3 class="service__title">Усиленная терапия</h3>
				<div class="service__descr">Рекомендуется для облегчения похмелья и прерывания запоев длительностью до недели</div>
				<div class="service__btn">
					<span>от 5 800 ₽</span>
					<a class="service__link btn" href="">Начать лечение</a>
				</div>
			</div>
			<div class="service">
				<div class="service__illustration">
					<img class="service__image" src="/images/services/3.jpg" alt="Восстановление+">
				</div>
				<h3 class="service__title">Восстановление+</h3>
				<div class="service__descr">Для облегчения похмельного синдрома и прерывания запоя. А также при алкогольном отравлении</div>
				<div class="service__btn">
					<span>от 15 800 ₽</span>
					<a class="service__link btn" href="">Начать лечение</a>
				</div>
			</div>
			<div class="service">
				<div class="service__illustration">
					<img class="service__image" src="/images/services/4.jpg" alt="Максимальная терапия">
				</div>
				<h3 class="service__title">Максимальная терапия</h3>
				<div class="service__descr">Для облегчения похмельного синдрома и прерывания запоя. А также при алкогольном отравлении</div>
				<div class="service__btn">
					<span>от 18 800 ₽</span>
					<a class="service__link btn" href="">Начать лечение</a>
				</div>
			</div>
			<div class="service">
				<div class="service__illustration">
					<img class="service__image" src="/images/services/5.jpg" alt="Кодирование">
				</div>
				<h3 class="service__title">Кодирование+</h3>
				<div class="service__descr">Рекомендуется для облегчения похмелья и прерывания запоев длительностью до недели</div>
				<div class="service__btn">
					<span>от 3 200 ₽</span>
					<a class="service__link btn" href="">Начать лечение</a>
				</div>
			</div>
			<div class="service">
				<div class="service__illustration">
					<img class="service__image" src="/images/services/6.jpg" alt="Выезд нарколога на дом">
				</div>
				<h3 class="service__title">Выезд нарколога на дом</h3>
				<div class="service__descr">Для облегчения похмельного синдрома и прерывания запоя. А также при алкогольном отравлении</div>
				<div class="service__btn">
					<span>от 3 500 ₽</span>
					<a class="service__link btn" href="">Начать лечение</a>
				</div>
			</div>
		</div>
	</div>