.teaser{
	background: var(--bg-second);
	position: relative;
	overflow: hidden;
	padding-bottom: 405px;
	padding-top: 40px;
	@media (min-width: $tablet-min){
		padding-bottom: 140px;
		padding-top: 140px;
		background: var(--bg-second) url('/images/bg.jpg') no-repeat 100% 0 / auto 100%;
	}
	&:before{
		background: var(--bg-second);
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 260px;
		width: 100%;
		background: var(--bg-second) url('/images/bg.jpg') no-repeat 100% 0 / cover;
		@media (min-width: $tablet-min){
			display: none;
		}
	}
	&:after{
		content: '';
		background: url('/images/doctor.png') no-repeat 100% 0 / auto 100%;
		height: 370px;
		width: 296px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		@media (min-width: $tablet-min){
			height: 670px;
			width: 454px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(120px);
			transform: translateX(120px);
		}
	}
	&__content{
		position: relative;
	}
	&__title{
		font-size: 34px;
		line-height: 40px;
		font-weight: 600;
		@media (min-width: $tablet-min){
			font-size: 62px;
			line-height: 65px;
		}
	}
	&__list{
		list-style-type: none;
		margin-top: 40px;
		@media (min-width: $tablet-min){

		}
		&-item{
			margin-bottom: 15px;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			padding-left: 40px;
			@media (min-width: $tablet-min){
				font-size: 18px;
				line-height: 25px;
			}
			&:before{
				content: '';
				width: 25px;
				height: 25px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: url('/images/check.svg') no-repeat 50% 50% / contain;
			}
		}
	}
	&__buttons{
		margin-top: 35px;
		display: flex;
		flex-direction: column;
		column-gap: 20px;
		row-gap: 10px;
		align-items: center;
		@media (min-width: $tablet-min){
			margin-top: 70px;
			flex-direction: row;
		}
		button{
			min-width: 100%;
			@media (min-width: $tablet-min){
				min-width: 206px;
			}
		}
	}
}