<section class="section teaser">
	<div class="container teaser__content">
		<div class="teaser__title">Срочный вызов<br>врача-нарколога</div>
		<ul class="teaser__list">
			<li class="teaser__list-item">Сохраняем анонимность, не требуем паспорт и не ставим на учёт</li>
			<li class="teaser__list-item">Помощь квалифицированного врача на дому</li>
			<li class="teaser__list-item">Приедем на адрес за 20 минут</li>
			<li class="teaser__list-item">Первичная консультация - бесплатно</li>
		</ul>

		<div class="teaser__buttons">
			<button class="btn">Получить помощь</button>
			<button class="btn btn--second jsOpenModalBtn">Заказать звонок</button>
		</div>
	</div>
</section>