body{
	font-family: Inter;
	margin: 0;
	text-align: center;
	color: var(--main);
}
.container{
	margin: 0 10px;
	text-align: left;
	@media (min-width: $tablet-min){
		margin: 0 20px;
	}
	@media (min-width: $desktop-min){
		width: 1200px;
		margin: 0 auto;
	}
	&--header{
		position: sticky;
		top: 0;
		z-index: 1;
		background: #fff;
		margin: 0;
		padding: 10px;
		@media (min-width: $tablet-min){
			position: static;
			margin: 0 20px;
		}
		@media (min-width: $desktop-min){
			margin: 0 auto;
		}
	}
}

.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--btn-primary);
	color: #fff;
	border-radius: 32px;
	height: 50px;
	font-size: 14px;
	weight: 600;
	padding: 0 19px;
	transition: 0.2s ease-in;
	@media (min-width: $tablet-min){
		border-radius: 32px;
		height: 55px;
		font-size: 16px;
		padding: 0 25px;
	}
	&:hover{
		background: var(--btn-primary-hover);
	}
	&--second{
		background: var(--btn-secondary);
		color: var(--btn-primary);
		&:hover{
			background: rgba(13, 163, 255, 0.2);
		}
	}
	&--header{
		display: none;
		@media (min-width: $tablet-min){
			display: flex;
		}
	}
}
.section{
	padding: 70px 0;
	@media (min-width: $tablet-min){
		padding: 140px 0;
	}
	&--pb0{
		padding-bottom: 0;
	}
	&__title{
		font-size: 30px;
		line-height: 35px;
		font-weight: 600;
		@media (min-width: $tablet-min){
			font-size: 52px;
			line-height: 55px;
		}
	}
}

.menu--header{
	margin: 0 auto;
}

#formError{
	color: red;
	margin: 0 0 15px 0;
}