:root {
  --main: #383838;
  --second: #577F9C;
  --bg: #D0E8F9;
  --bg-second: #F1F8FD;
  --btn-primary: #0DA3FF;
  --btn-primary-hover: rgba(13, 163, 255, 0.84);
  --btn-secondary: rgba(13, 163, 255, 0.1);
  --muted: #E8EFF3
}

$desktop-min: 1241px;
$tablet-min: 769px;
$tablet: 768px;