.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal__content {
    background-color: #EBF5FC;
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border: 2px solid #809BAE;
    animation: slideUp 0.4s ease-in;
    position: relative;
    @media (min-width: $tablet-min){
        padding: 50px 60px;
        max-width: min(812px, 90%);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Заголовок модального окна */
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    @media (min-width: $tablet-min){
        font-size: 52px;
        line-height: 55px;
    }
}

.modal__close {
    background: none;
    border: none;
    font-size: 20px;
    color: #999;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
    position: absolute;
    top: -40px;
    right: -12px;
    mask: url('../images/icons/close.svg') no-repeat 50% 50% / 18px 18px;
    background: #fff;
    @media (min-width: $tablet-min){
        top: 17px;
        right: 13px;
        background: #809BAE;
    }
}

.modal__close:hover {
    background-color: var(--btn-primary);
}

/* Подзаголовок */
.modal__subtitle {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 20px 0;
    font-weight: 400;
    text-align: left;
    @media (min-width: $tablet-min){
        margin: 20px 0 42px 0;
        font-size: 20px;
        line-height: 30px;
    }
}

/* Форма */
.callback-form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 15px;
    @media (min-width: $tablet-min){
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

.form-input {
    width: 100%;
    padding: 15px 20px;
    background: #fff;
    border: none;
    border-radius: 32px;
    font-size: 16px;
    transition: all 0.3s ease-in;
    outline: none;
}

.form-input:focus {
    border-color: #4a6bff;
    box-shadow: 0 0 0 3px rgba(74, 107, 255, 0.1);
}

.form-input::placeholder {
    color: #aaa;
}

/* Политика конфиденциальности */
.privacy-notice {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    color: #9CB4C5;
}

.privacy-link {
    color: #9CB4C5;
    text-decoration: underline!important;
    transition: color 0.2s ease-in;
}

.modal.active {
    display: flex;
}