.stages{
	display: grid;
	grid-template-columns: 1fr;
	counter-reset: numbered-counter;
	row-gap: 20px;
	margin-top: 25px;
	@media (min-width: $tablet-min){
		grid-template-columns: repeat(3, 1fr);
		margin-top: 45px;
		row-gap: 60px;
	}
	@media (min-width: $desktop-min){
		grid-template-columns: repeat(5, 1fr);
	}
	&__item{
		position: relative;
		counter-increment: numbered-counter;
		@media (min-width: $tablet-min){
			padding-top: 140px;
		}
		&:before{
			content: counter(numbered-counter, decimal-leading-zero);
			font-size: 62px;
			line-height: 60px;
			color: var(--muted);
			font-weight: 500;
			order: 2;
			margin-left: auto;
			@media (min-width: $tablet-min){
				width: calc(100% - 10px);
				border-bottom: 1px solid var(--muted);
				padding-bottom: 36px;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 62px;
				line-height: 60px;
			}
		}
		&:after{
			@media (min-width: $tablet-min){
				content: '';
				border-left: 1px solid var(--btn-primary);
				height: 30px;
				width: 10px;
				background: #fff;
				left: -1px;
				position: absolute;
				top: 80px;
			}
		}
		&:last-child{
			&:before{
				@media (min-width: $tablet-min){
					width: 100%;
				}
			}
		}
	}
}

.stage{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	&__icon{
		display: block;
		height: 40px;
		width: 40px;
		flex: 0 0 50px;
		@media (min-width: $tablet-min){
			height: 50px;
			width: 50px;
			flex: 0 0 50px;
		}
	}
}