<section class="section">
	<h2 class="section__title">Этапы лечения</h2>
	<ul class="stages">
		<li class="stages__item stage">
			<img class="stage__icon" src="/images/icons/diag.svg" alt="">
			<span class="stage__title">Диагностика <br>состояния</span>
		</li>
		<li class="stages__item stage">
			<img class="stage__icon" src="/images/icons/plan.svg" alt="">
			<span class="stage__title">Составление <br>плана лечения</span>
		</li>
		<li class="stages__item stage">
			<img class="stage__icon" src="/images/icons/symptom.svg" alt="">
			<span class="stage__title">Снятие <br>симптомов</span>
		</li>
		<li class="stages__item stage">
			<img class="stage__icon"  src="/images/icons/recovery.svg" alt="">
			<span class="stage__title">Восстановление <br>организма</span>
		</li>
		<li class="stages__item stage">
			<img class="stage__icon" src="/images/icons/consult.svg" alt="">
			<span class="stage__title">Бесплатные <br>консультации</span>
		</li>
	</ul>
</section>